<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleResizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleResizer.Properties.Settings>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BatchMaxWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BatchMaxHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BatchQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BatchUseStamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchStampFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchStampPlacement" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BatchTransparency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchNewFilenamePattern" serializeAs="String">
                <value>%n_%c.%e</value>
            </setting>
            <setting name="BatchUseSourceFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatchStampHMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchStampVMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchDestFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchCreateSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormLastAddedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormLastAddedFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormListView" serializeAs="String">
                <value>Details</value>
            </setting>
            <setting name="MainFormNewFilenameStart" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormNewFilenameEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormNewFilenameSimple" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleResizer.Properties.Settings>
    </userSettings>
</configuration>